<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/CSS/dashboard.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
</head>
<body>
    <div class="header">
        <h1>Dashboard</h1>
    </div>

    <div class="top-actions">
        <a href="/detail" class="action-button detail-button">
            Customer History
        </a>

        <button class="action-button logout-button" onclick="handleLogout()">
            Logout
        </button>
    </div>

    <div class="filter-controls">
        <label for="start-date">From:</label>
        <input type="date" id="start-date" value="2024-01-01">
        
        <label for="end-date">To:</label>
        <input type="date" id="end-date" value="2024-12-31">
        
        <button id="update-dashboard-button">Get Dashboard</button>
    </div>

    <div class="dashboard-grid">
        <div class="chart-container">
            <h2>Monthly Revenue</h2>
            <div class="chart-placeholder">Đang tải dữ liệu...</div>
        </div>
        <div class="chart-container">
            <h2>Product Sales</h2>
            <div class="chart-placeholder">Đang tải dữ liệu...</div>
        </div>
    </div>
    <script src="/static/script/dashboard.js"></script>
</body>
</html>